#grid {
    width: 606px;
    height: 606px; /* 606 to make the 1*6px of border fit */
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 200px;
    width: 200px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.mole {
    background-image: url(transparent\ noah\ pear\ 1.png);
    background-size: cover;
}